 <!--/.content section/-->
    <section class="position-relative overflow-hidden">
        <div class="container py-9 py-lg-11">
            <div class="row justify-content-center">
                <!--Post card col-->
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 mb-4">
                    <a href="#!"
                        class="card-hover p-4 border d-flex flex-row hover-shadow-lg align-items-center rounded-3 hover-lift">
                        <div class="me-4 rounded-3 flex-shrink-0 overflow-hidden">
                            <img src="assets/img/projects/1.jpg" alt=""
                                class="img-fluid img-zoom h-auto width-10x">
                        </div>
                        <div class="flex-grow-1 h-100">
                            <div class="d-flex small mb-3 justify-content-between">
                                <span class="d-inline-block me-2 small text-warning">

                                    Business
                                </span>
                                <span class="text-muted small">19 Aug.</span>
                            </div>
                            <h5 class="mb-0">
                                How to configure output css files from sass
                            </h5>
                        </div>
                    </a>
                    <!--/.card-->

                </div>
                <!--/.col-->

                <!--Post card col-->
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 mb-4">
                    <a href="#!"
                        class="card-hover p-4 border d-flex flex-row hover-shadow-lg align-items-center rounded-3 hover-lift">
                        <div class="me-4 rounded-3 flex-shrink-0 overflow-hidden">
                            <img src="assets/img/projects/2.jpg" alt=""
                                class="img-fluid img-zoom h-auto width-10x">
                        </div>
                        <div class="flex-grow-1 h-100">
                            <div class="d-flex small mb-3 justify-content-between">
                                <span class="d-inline-block me-2 small text-success">

                                    Community
                                </span>
                                <span class="text-muted small">12 Nov.</span>
                            </div>
                            <h5 class="mb-0">
                                How to configure output css files from sass
                            </h5>
                        </div>
                    </a>
                    <!--/.card-->

                </div>
                <!--/.col-->

                <!--Post card col-->
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 mb-4">
                    <a href="#!"
                        class="card-hover p-4 border d-flex flex-row hover-shadow-lg align-items-center rounded-3 hover-lift">
                        <div class="me-4 rounded-3 flex-shrink-0 overflow-hidden">
                            <img src="assets/img/projects/3.jpg" alt=""
                                class="img-fluid img-zoom h-auto width-10x">
                        </div>
                        <div class="flex-grow-1 h-100">
                            <div class="d-flex small mb-3 justify-content-between">
                                <span class="d-inline-block me-2 small text-danger">

                                    Design
                                </span>
                                <span class="text-muted small">24 Dec.</span>
                            </div>
                            <h5 class="mb-0">
                                How to configure output css files from sass
                            </h5>
                        </div>
                    </a>
                    <!--/.card-->

                </div>
                <!--/.col-->

                <!--Post card col-->
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 mb-4">
                    <a href="#!"
                        class="card-hover p-4 border d-flex flex-row hover-shadow-lg align-items-center rounded-3 hover-lift">
                        <div class="me-4 rounded-3 flex-shrink-0 overflow-hidden">
                            <img src="assets/img/projects/4.jpg" alt=""
                                class="img-fluid img-zoom h-auto width-10x">
                        </div>
                        <div class="flex-grow-1 h-100">
                            <div class="d-flex small mb-3 justify-content-between">
                                <span class="d-inline-block me-2 small text-primary">

                                    Tech
                                </span>
                                <span class="text-muted small">11 Jan.</span>
                            </div>
                            <h5 class="mb-0">
                                How to configure output css files from sass
                            </h5>
                        </div>
                    </a>
                    <!--/.card-->

                </div>
                <!--/.col-->
            </div>
        </div>
    </section>