
<!--begin:Navbar items-->
<ul class="navbar-nav ms-auto">
   <li class="nav-item"><a href="/" class="nav-link {{#if active.home}}active{{/if}}">Home</a></li>
   <li class="nav-item"><a href="/map" class="nav-link {{#if active.map}}active{{/if}}">Map</a></li>
   <li class="nav-item"><a href="/dashboard" class="nav-link {{#if active.dashboard}}active{{/if}}">Data Dashboard</a></li>
   <li class="nav-item"><a href="/about" class="nav-link {{#if active.about}}active{{/if}}">About</a></li>
   <li class="nav-item"><a href="/profile" class="nav-link {{#if active.profile}}active{{/if}}">profile</a></li>
</ul>
<!--end:Navbar items-->
