<!--begin:Footer-->
 <footer id="footer" class="bg-secondary footer text-black position-relative">
     <div class="container position-relative z-index-1">
         <div class="row grid-separator align-items-stretch">
             <!--Footer col-->
             <div class="col-md-7 col-lg-4 pe-md-6 py-lg-11 py-9">
                 <div class="d-flex flex-column h-100">
                     <h6 class="mb-4 opacity-50">
                         Join our mail list
                     </h6>
                     <p class="mb-4 small">Stay in the Know- join our mailing list</p>
                     <form novalidate class="needs-validation" method="POST" action="https://formspree.io/f/mgeqdwvr">
                         <div class="mb-3">
                             <input type="email" required placeholder="Your Email" name="email"
                                 class="form-control bg-transparent text-black border-black">
                             <span class="invalid-feedback">This field is required</span>
                         </div>
                         <!--<div class="mb-3">
                             <p class="small text-muted mb-0">
                                 By clicking on Sign me up, you agree to our <a class="fw-semibold d-table"
                                     href="#!">Terms and Conditions of Use.</a>
                             </p> 
                         </div>-->
                         <div class="d-grid">
                             <button class="btn btn-primary" type="submit">
                                 Sign me up
                             </button>
                         </div>
                     </form>
                 </div>
             </div>
             <!--Footer col-->
             <div class="col-md-5 col-lg-3 ps-md-6 py-lg-11 py-9">
                 <h6 class="mb-4 opacity-50">Explore</h6>
                 <ul class="nav flex-column">
                     <li class="nav-item">
                         <a href="/about" class="nav-link">
                             About
                         </a>
                     </li>
                     {{!-- <li class="nav-item">
                         <a href="/help" class="nav-link">
                             Help
                         </a>
                     </li> --}}
                     <li class="nav-item">
                         <a href="/support" class="nav-link">
                             Support
                         </a>
                     </li>
                     <li class="nav-item">
                         <a href="https://www.birdpop.org/" class="nav-link">
                             Institute for Bird Populations
                         </a>
                     </li>
                     <li class="nav-item">
                         <a href="https://www.audubon.org/" class="nav-link">
                             National Aubdon Society
                         </a>
                     </li>
                 </ul>
             </div>
             <!--Footer col-->
             <div class="col-md-12 col-lg-4 ps-md-6 py-lg-11 py-9">
                 <div class="d-flex flex-column flex-sm-row">
                     <div class="mb-4 mb-sm-0 pe-sm-3">
                         <div>
                             <h6 class="mb-4 opacity-50">Birdr</h6>
                             <p class="mb-3">
                                 1845 N MLK JR Blvd #38382 <br> Tallahassee<br> FL 32303
                             </p>
                         </div>
                     </div>
                     <div class="ps-sm-3">
                         <strong class="d-block text-muted small mb-2">Email:</strong>
                         <a href="mailto:supportBirdApp@proton.me" class="fw-semibold link-underline">supportBirdApp@proton.me</a>
                     </div>
                 </div>
             </div>
         </div>
         <hr class="my-0">
         <div>
             <div class="row py-5">
                 <div class="col-sm-7 col-md-6 mb-3 mb-sm-0">
                     <!-- <div class="dropup d-table">
                         <a href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false"
                             class="dropdown-toggle">
                             United States (English)
                         </a> -->

                         <!--Dropdown lang menu-->
                     </div>
                 </div>
                 <div class="col-sm-5 col-md-6 small text-sm-end">
                     <span class="d-block lh-sm small text-muted">&copy; Copyright
                         <script>
                             document.write(new Date().getFullYear())

                         </script>. Birdr
                     </span>
                 </div>
             </div>
         </div>
     </div>
     <!--container-->
 </footer>
 <!--end:Footer-->
