<section class="position-relative">
    <div class="container-fluid position-relative z-index-1">
        <div class="position-relative rounded-4 overflow-hidden bg-dark" style="background-image: url('img/backgrounds/Birdr.png');">
            <div class="position-relative text-white w-md-75 px-4 w-lg-60 mx-auto text-center z-index-1 py-12 py-lg-15">
                <!--Hero title-->
                <h1 class="display-1 mb-3 mb-md-4 position-relative">{{tagline}}
                </h1>
                <!--Hero text-->
                <p class="lead w-lg-60 mx-auto mb-5" style = "color: #000000">{{product}} </p>

                <!--Hero buttons-->
                <div class="d-flex flex-column">
                    <div>
                        <a href="#features" class="btn btn-primary btn-lg">
                            {{link_text}}
                        </a>
                    </div>
                    <div class="pt-3 small" style = "color: #000000">{{smallNote}}</div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</section>
<!--end: Hero background slide section-->