<div class='row' id="slidecontainer" >
  <div class="justify-content-center align-items-center" id ="radiocontainer">
    <div class="form-check form-check-inline">
      <input class="form-check-input sev_check" type="checkbox" id="inlineCheckbox1" onclick="showVal(this.value)" value="1">
      <label class="form-check-label sev_check" for="inlineCheckbox1">Week</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input sev_check" type="checkbox" id="inlineCheckbox2" onclick="showVal(this.value)" value="2">
      <label class="form-check-label" for="inlineCheckbox2">Month</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input sev_check" type="checkbox" id="inlineCheckbox3" onclick="showVal(this.value)" value="3">
      <label class="form-check-label" for="inlineCheckbox3">Season</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input sev_check" type="checkbox" id="inlineCheckbox4" onclick="showVal(this.value)" value="4">
      <label class="form-check-label" for="inlineCheckbox4">Year</label>
    </div>
     <div class="form-check form-check-inline">
      <input class="form-check-input sev_check" type="checkbox" id="inlineCheckbox5" onclick="showVal(this.value)" value="5" checked>
      <label class="form-check-label" for="inlineCheckbox5">All Time</label>
    </div>
  </div>
</div>
