<nav class="nav justify-content-center mb-5 nav-pills">
    <a href="/profile" class="nav-link {{#if active.profile}}active{{/if}}"> <i
            class="bx bx-user-circle me-2"></i>My profile</a>
    <a href="/page-profile-settings" class="nav-link {{#if active.settings}}active{{/if}}"><i
            class="bx bx-cog me-2"></i>Settings</a>
    <a href="/tracking-history" class="nav-link {{#if active.tracking}}active{{/if}}"><i
            class="bx bx-layer me-2"></i>Tracking History</a>
</nav>