<div class="d-flex align-items-center mb-4">
    <h6 class="mb-0 me-3 me-md-4">Report a Sighting<strong class="text-decoration-underline text-primary" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Logging a bird adds a waypoint to the map so that birdwatchers can help eachother find interesting birds.">?</strong></h6>
    <div class="border-bottom flex-grow-1"></div>
</div>
<div class="row">
    <div class="col">
        <select class="form-control bird-select-basic-single" type= 'select' id= "birdName" autocomplete= "on" aria-label="select">
                <option value = '0'> Select</option>
        </select>
    </div>
    <div class="col">
        <button  id = "submitBird" class="btn btn-primary"> Submit</button>
    </div>
</div>
<div class="row">
    <div class="col">
        Is the bird you saw not listed? <a href="#reportBirdModal" data-bs-toggle="modal" aria-expanded="false" class="btn btn-primary">Click here</a>
    </div>
    <div class="col">
        
    </div>
</div>
<hr class="my-7">


        