<div class="d-flex align-items-center mb-4">
    <h6 class="mb-0 me-3 me-md-4">Species</h6>
    <div class="border-bottom flex-grow-1"></div> 
</div>                          
<div class="row">
    <div class="col">
        <select class="form-control dropdown-basic-single" type= 'select' id= "speciesSearch" autocomplete= "on">
            <option value = '0'> Select</option>
        </select>
    </div>
    <div class = "col">
         <button type="submit" id = "search-submitBird" class="btn btn-primary" > Submit</button>
    </div>
</div>
<hr class="my-7">

<div class="d-flex align-items-center mb-4">
    <h6 class="mb-0 me-3 me-md-4">Search By Group</h6>
    <div class="border-bottom flex-grow-1"></div>    
</div>                       
<div class="row">
    <div class="col">
        <select class="form-control search-select-basic-single" type= 'select' id= "functionalGroup" >
            <option value = '0' selected > Select</option>
        </select>
    </div>
    <div class = "col">
         <button type="submit" id = "search-submitBird-1" class="btn btn-primary"> Submit</button>
    </div>
</div>
<hr class="my-7">

        