<div class="d-flex justify-content-end align-items-center mb-9">
    <div class="me-3 small text-muted">
        Share Article
    </div>
    <div>
        <a href="#!" class="d-inline-block me-1">
            <img src="img/brands/facebook.svg" alt="" class="width-2x height-2x hover-lift">
        </a>
        <a href="#!" class="d-inline-block me-1">
            <img src="img/brands/twitter.svg" alt="" class="width-2x height-2x hover-lift">
        </a>
        <a href="#!" class="d-inline-block me-1">
            <img src="img/brands/Linkedin.svg" alt="" class="width-2x height-2x hover-lift">
        </a>
    </div>
</div>