<nav class="mb-4">
    <div class="nav nav-pills nav-fill rounded-2 px-2 py-1 bg-white shadow" role="tablist">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab3-home" role="tab"
            aria-selected="true">Report</a>
        <a class="nav-link" data-bs-toggle="tab" href="#tab3-profile" role="tab"
            aria-selected="false">Search</a>
        <a class="nav-link" data-bs-toggle="tab" href="#tab3-contact" role="tab"
            aria-selected="false">Filter</a>
    </div>
</nav>
<div class="tab-content">
    <div class="tab-pane fade show active " id="tab3-home" role="tabpanel">
        {{>reportForm}}
    </div>
    <div class="tab-pane fade" id="tab3-profile" role="tabpanel">
        {{>searchForm}}
    </div>
    <div class="tab-pane fade container-fluid" id="tab3-contact" role="tabpanel">
        {{>mapFilter}}
    </div>
</div>